.red{
    color: rgb(23, 205, 51);
}

#firstdiv{
    background-color: rgb(241, 99, 99);
}

.bg-yellow{
    background-color: aquamarine;
}

#seconddiv{
    background-color: blueviolet;
    color: brown;
}

